<a href="https://colab.research.google.com/github/tarik1bosunia/hamid-vai-python-study/blob/main/30_09_2025_python_hamid_vai.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
name = input("Enter your name: ")
print(name)
print(type(name))

Enter your name: tarik
tarik
<class 'str'>

In [ ]:
age = int(input("Enter your age: "))
print(age)
print(type(age))

Enter your age: 25
25
<class 'int'>

In [ ]:
x = "125"
print(type(x))
x = int(x)
print(type(x))

<class 'str'>
<class 'int'>

## add two numbers

In [ ]:
num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))

sum = num1 + num2

print(sum)

Enter first number: 100
Enter second number: 200
300

# print

In [ ]:
print("a", "b", 10, sep="*", end=" ")
print("x", "y")

a*b*10 x y

# Arithmetic Operators

In [ ]:
x = 10
y = 7

In [ ]:
z = x + y
print(z)

13

In [ ]:
z = x / y
print(z)

3.3333333333333335

In [ ]:
z = x // y
print( z)

1

In [ ]:
z = x % y
print(z)

3

In [ ]:
t = 3 ** 2
print(t)

9

# Assignment Operators

In [ ]:
x = 5
x += 4 # x = x + 4
print(x)

9

In [ ]:
x = 10
x -= 6  # x = x - 6
print(x)

4

In [ ]:
x = 5
x *= 4 # x = x * 4
print(x)

20

# Comparison Operator

In [ ]:
x = 5
y = 5
print(x == y)

True

In [ ]:
x = 3
y = 5
print(x >= y)

False

# Logical Operators

In [ ]:
# OR operaton
1 + 1 = 1
1 + 0 = 1
0 + 1 = 1
0 + 0 = 0

# AND operation
1 . 1 = 1
1 . 0 = 0
0 . 1 = 0
0 . 0 = 0

# NOT operation
not 1 = 0
not 0 = 1

In [ ]:
print (0 or 0)

0

In [ ]:
print(0 and 0)

0

In [ ]:
print(not False)

True