<a href="https://colab.research.google.com/github/tarik1bosunia/hamid-vai-python-study/blob/main/notebooks/string.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# start

In [3]:
text = "Python Programming"
print(text)
print(type(text))
print(id(text))

text = "okay"
print(id(text))

Python Programming
<class 'str'>
134994737188528
134994737024336

In [18]:
word = "Python"

  # P (first character)
print(word[-1])  # n (last character)
print(word[0:4]) # Pyth (slice)
print(word[:3])  # Pyt (from start)
print(word[2:])  # thon (to end)

n
Pyth
Pyt
thon

In [29]:
msg = "  hello world  "

print(msg.upper())     # HELLO WORLD
print(msg.lower())     # hello world
print(msg.strip())     # removes spaces → 'hello world'
print(msg.replace("world", "Python")) # hello Python
print(msg.find("world")) # 8 (index of substring)
print(msg.split())     # ['hello', 'world']

  HELLO WORLD
  hello world
hello world
  hello Python
8
['hello', 'world']

In [32]:
text = "hello" + "world"
print(text)

text = "hello " * 3
print(text)

helloworld
hello hello hello

In [38]:
age = 25
name = "tarik"
text = f"My name is: {name}\nMy age is : {age}"
print(text)

My name is: tarik
My age is : 25

In [44]:
word = "Python"

print(word.isalpha())  # True (only letters)
print("123".isdigit()) # True
print("abc123".isalnum()) # True
print("hello".startswith("hel")) # True
print("hello".endswith("lo"))   # True

True
True
True
True
True

In [46]:
fruits = ["apple", "banana", "cherry"]
print(fruits)

fruits[1] = "orange"

print(fruits)

['apple', 'banana', 'cherry']
['apple', 'orange', 'cherry']

In [48]:
fruits = ["apple", "banana", "cherry"]
print(fruits)

fruits.append("orange")
print(fruits)

['apple', 'banana', 'cherry']
['apple', 'banana', 'cherry', 'orange']

In [52]:
fruits = ["apple", "banana", "cherry", "banana"]
print(fruits)

fruits.remove("banana")
print(fruits)

['apple', 'banana', 'cherry', 'banana']
['apple', 'cherry', 'banana']

In [56]:
colors = ("red", "green", "blue")
print(colors[0])   # red

# Tuples cannot be changed
# colors[0] = "yellow"

colors = ("yellow",)

red

In [60]:
nums = {1, 2, 3, 3, 4}
# print(nums)  # {1, 2, 3, 4}

nums.add(5)

nums.remove(2)

# print(nums)

# Set operations
A = {1, 2, 3}
B = {3, 4, 5}
print(A | B) # Union → {1, 2, 3, 4, 5}
print(A & B) # Intersection → {3}
print(A - B) # Difference → {1, 2}

{1, 2, 3, 4, 5}
{3}
{1, 2}

In [65]:
student = {
    "name": "Alice",
    "age": 20,
    "major": "Computer Science"
}


# Methods
print(student.keys())   # dict_keys([...])
print(student.values()) # dict_values([...])
print(student.items())  # dict_items([...])

dict_keys(['name', 'age', 'major'])
dict_values(['Alice', 20, 'Computer Science'])
dict_items([('name', 'Alice'), ('age', 20), ('major', 'Computer Science')])